<footer>
  <div class="container">
    <div class="contact-col">
      <h4>Contact</h4>
      <p>111 Demo Street<br>Los Angeles 12345</p>
      <p>jupiter@example.com<br>(123)111-222-333</p>
    </div>
    <div class="logo-col">
      <h1>Jupiter</h1>
      <ul class="socials">
        <li>
          <a class="footer-link" href="#"
          >
            <i class="fa-brands bi-instagram social-icon"></i>
          </a>
        </li>
        <li>
          <a class="footer-link" href="#"
          >
            <i class="fa-brands bi-facebook social-icon"></i>
          </a>
        </li>
        <li>
          <a class="footer-link" href="#"
          >
            <i class="fa-brands bi-twitter social-icon"></i>
          </a>
        </li>
      </ul>

      <p class="copyright">
        Copyright &copy; <span class="year">2023</span> by Magdalena Królikowska,<br>
        All rights reserved.
      </p>
    </div>
    <div class="hours-col">
      <h4>Hours</h4>
      <p>Mon-Thu 6-23<br>Fri-Sun 9-24</p>
      <a href="">Make a Reservation</a>
    </div>
  </div>
</footer>
