* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 60px;
  margin-bottom: 32px;
  line-height: 1.05;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
  /* 24 / 30 / 36 */
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

header {
  height: 70vh;
  position: relative;
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
  url('/assets/images/add-dish.jpg');
  background-size: cover;
  color: #fff;
}

.header-container {
  width: 1000px;
  position: absolute;
  /* In relation to parent size*/
  left: 50%;
  top: 50%;
  /* In
   relation to element size*/
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;

}

.container{
  width: 600px;
  margin: 3.5rem auto;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.col .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

label,
button{
  padding: 4px 8px;
  margin-top: 1rem;
  font-size: 18px;
}

.form-control{
  font-size: 18px;
  margin-bottom: 6px;
}
