* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

.dish {
  width: 450px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 2.5vw;
  overflow: hidden;
  transition: all 0.4s;
}

.dish-hover.dish:hover{
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.dish-img-container {
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.dish-img {
  border-radius: 2vw 2vw 0 0;
  width: 100%;
}

.cheapest {
  border: 3px solid red;
}

.most-expensive {
  border: 3px solid green;
}

.dish-name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.dish-attributes {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.dish-attribute {
  display: flex;
  gap: 8px;
  align-items: center;

}

.delete {
  background-color: #e03131;
  border-radius: 0 2vw 0 2vw;
  cursor: pointer;
  padding: 0.8rem;
  position: absolute;
  right: 0;
  top: 0;
}

p {
  font-family: Montserrat, sans-serif;
}

ul {
  list-style: square;
}

li {
  margin-left: 24px;
}

.content,
.header-container {
  margin: 24px 48px;
}

.bottom-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.amount-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.dish-amount {
  margin: 0 0 18px;
}

i {
  font-size: 22px;
}

i.button {
  font-size: 28px;
  cursor: pointer;
  transition: all 0.4s;
}

i.button:hover {
  transform: scale(1.3);
}

.description {
  margin-bottom: 24px;
}

hr {
  margin-bottom: 8px;
}

.btn {
  margin-top: 0.5rem;
}

.tags {
  margin-bottom: 12px;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--meat {
  background-color: #fa5252;
}

.no-images{
  background-color: #e9ecef;
}

.dish-img-container > i{
  font-size: 72px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
}
