* {
  margin-bottom: 4px;
}

.row.form {
  padding: 1rem;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: #fcc419;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #fcc419;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
  border: 1px solid red;
}

span{
  color: red;
}
