<header>
  <div class="header-container">
    <h1>Cart</h1>
  </div>
</header>
<section>
  <div class="container">
    <section class="cart-total">
      <p>Total: {{total}}</p>
      <div class="form-group col-sm-1">
        <select
          class="form-control"
          [(ngModel)]="selectedCurrency"
          (ngModelChange)="onSelectedCurrencyChanged()">
          <option value="" disabled selected>Choose currency</option>
          <option *ngFor="let currency of currencies">{{currency}}</option>
        </select>
      </div>
    </section>

    <p *ngIf="cartDishes.size === 0">Cart is empty 🙁</p>
    <div class="grid-3-cols">
      <app-dish-card *ngFor="let entry of cartDishes | keyvalue" [dish]="entry.key"
                     [quantity]="entry.value"
                     [selectedCurrency]="selectedCurrency"
                     [menuMode]="false"
      ></app-dish-card>
    </div>
  </div>
</section>

