<header>
  <div class="header-container">
    <h1>Cart</h1>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-12">
            Total: {{total + selectedCurrency}}
          </div>
        </div>
        <section>
          <div class="form-group">
            <select
              class="form-control"
              [(ngModel)]="selectedCurrency"
              (ngModelChange)="onSelectedCurrencyChanged()">
              <option value="">Choose currency</option>
              <option *ngFor="let currency of currencies">{{currency}}</option>
            </select>
          </div>
        </section>
      </div>
    </div>
    <p *ngIf="cartDishes.size === 0">Cart is empty 🙁</p>
    <div class="dishes">
      <div class="col-md-12" *ngFor="let entry of cartDishes | keyvalue">
        <app-dish-card [dish]="entry.key"
                       [quantity]="entry.value"
                       [selectedCurrency]="selectedCurrency"
                       [menuMode]="false"
        ></app-dish-card>
      </div>
    </div>
  </div>
</section>

