* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 60px;
  margin-bottom: 32px;
  line-height: 1.05;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
  /* 24 / 30 / 36 */
}

p {
  font-size: 20px;
  line-height: 1.6;
}

header {
  height: 70vh;
  position: relative;
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
  url('/assets/images/cart.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.header-container {
  width: 1000px;
  position: absolute;
  /* In relation to parent size*/
  left: 50%;
  top: 50%;
  /* In
   relation to element size*/
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;

}

.container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 32px;
}

.cart-total {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.form-control {
  text-align: center;
}

@media (max-width: 1600px) {
  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  app-dish-card {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .grid-3-cols {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }

  app-dish-card {
    display: flex;
    justify-content: center;
  }
}

