<header>
  <div class="header-container">
    <h1>Menu</h1>
  </div>
</header>
<div class="container">
  <section>
    <div class="reserved-dishes"
         [ngStyle]="{backgroundColor: totalReserved>10?'#379da2':'#e76d15'}">
      <p>Reserved dishes: {{ totalReserved }}</p>
    </div>
  </section>

  <section>
    <div class="form-group">
      <select
        id="cuisine"
        class="form-control"
        [(ngModel)]="selectedCurrency"
        (ngModelChange)="onCurrencyChange()">
        <option value="">Choose currency</option>
        <option *ngFor="let currency of currencies">{{currency}}</option>
      </select>
    </div>
  </section>

  <section>
    <app-filter [dishes]="dishes"
                [cheapest]="cheapest"
                [mostExpensive]="mostExpensive"
                (updateFiltersEvent)="updateFilters($event)"
    ></app-filter>
  </section>

  <section>
    <div class="grid-3-cols">
      <app-dish-item *ngFor="let dish of dishes | filter :fields "
                     [dish]="dish"
                     [selectedCurrency]="selectedCurrency"
                     (reservedDishesNumberChanged)="onReservedDishesChanged($event)"
      ></app-dish-item>
    </div>
  </section>

</div>





