* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 60px;
  margin-bottom: 32px;
  line-height: 1.05;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
  /* 24 / 30 / 36 */
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2rem 0;
}

.sidebar {
  margin: 3rem 3rem;
  position: sticky;
  top: 8rem;
  align-self: start;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
  row-gap: 32px;
}

.reserved-dishes > p {
  margin: 0;
}

.reserved-dishes {
  display: flex;
  margin: 24px 48px;
  justify-content: center;
  border-radius: 2rem;
  padding: 4px 8px;
}

.btn-success {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.grid-3-cols {
  margin-top: 64px;
}

.cart{
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #c2255c;
  position: fixed;
  border-radius: 2rem;
  bottom: 0;
  right: 0;
  margin: 3rem;
  transition: all 0.4s;
}

.cart:hover{
  transform: scale(1.2);
}

.cart-items-quantity{
  position: absolute;
  top:0;
  right: 0;
  background-color: red;
  border-radius: 5rem;
  padding: 0.2rem 0.6rem;
  color: #fff;
}

.cart-icon{
  color: #fff;
  font-size: 32px;
}

@media (max-width: 1800px) {
  .grid-3-cols {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
  }

  app-dish-card {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1300px) {
  .grid-3-cols {
    grid-template-columns: 1fr;
  }

  app-dish-card {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .sidebar {
    margin: 3rem 3rem;
    position: initial;
    top: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-self: center;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .grid-3-cols {
    grid-template-columns: 1fr;
  }

  app-dish-card {
    display: flex;
    justify-content: center;
  }
}
