* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.reserved-dishes{
  margin-top: 3rem;
}

.btn-success{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

mat-slider {
  width: 300px;
}
