* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #333;;
}

.dish {
    width: 500px;
    padding-bottom: 1rem;
    background-color: rgb(223, 232, 207);
    margin: 100px auto;
    border-radius: 2vw;
}

.dish-img-container {
    height: 300px;
    overflow: hidden;
}

.dish-img {
    border-radius: 2vw 2vw 0 0;
    width: 100%;
}


.dish-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.dish-img-container {
    position: relative;
}

p {
    margin-bottom: 14px;
}

ul {
    list-style: square;
}

li {
    margin-left: 24px;
}

.content {
    margin: 24px 48px;
}

.bottom-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.amount-buttons {
    display: flex;
    flex-direction: row;
}

.dish-amount {
    margin: 0;
}
