<header>
  <div class="header-container">
    <div class="header-container-inner">
      <h1>Welcome to Culinary Delights Galore</h1>
      <p>
        Indulge in the extraordinary world of culinary wonders at our renowned restaurant. We are dedicated to
        delivering a symphony of flavors that will tantalize your taste buds. With a rich history of excellence and a
        commitment to impeccable service, we invite you to savor every moment. Join us in creating unforgettable dining
        experiences.
      </p>
      <button class="btn" (click)="onMenuNavigate()">Explore Our Menu</button>
    </div>
  </div>
</header>
<div class="container">
  <section>
    <h2>What makes our service special</h2>
    <div class="grid-3-cols">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg"
             class="features-icon"
             viewBox="0 0 512 512">
        <path d="M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5v39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9v39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7v-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1H257c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
        <p class="features-title"><strong>Unforgettable Global Flavors</strong></p>
        <p class="features-text">
          Our head chef travels the world to bring the most exquisite tastes from different cultures to our restaurant.
          Each dish is a journey full of adventures that will delight your palate.
        </p>
      </div>

      <div>
        <svg xmlns="http://www.w3.org/2000/svg"
             class="features-icon"
             viewBox="0 0 320 512">
          <path d="M32.1 29.3C33.5 12.8 47.4 0 64 0H256c16.6 0 30.5 12.8 31.9 29.3l14 168.4c6 72-42.5 135.2-109.9
          150.6V448h48c17.7 0 32 14.3 32 32s-14.3 32-32 32H160 80c-17.7 0-32-14.3-32-32s14.3-32 32-32h48V348.4C60.6 333
           12.1 269.8 18.1 197.8l14-168.4zm56 98.7H231.9l-5.3-64H93.4l-5.3 64z"/></svg>
        <p class="features-title"><strong>Elegance in Wine</strong></p>
        <p class="features-text">
          Our carefully curated wine list is a tribute to wine connoisseurs.
          Discover unique pairings with dishes that enhance the flavor and aroma of every bite.
        </p>
      </div>


      <div>
        <svg xmlns="http://www.w3.org/2000/svg"
             class="features-icon"
             viewBox="0 0 512 512"><path
          d="M216 64c-13.3 0-24 10.7-24 24s10.7 24 24 24h16v33.3C119.6 157.2 32 252.4 32 368H480c0-115.6-87.6-210.8-200-222.7V112h16c13.3 0 24-10.7 24-24s-10.7-24-24-24H256 216zM24 400c-13.3 0-24 10.7-24 24s10.7 24 24 24H488c13.3 0 24-10.7 24-24s-10.7-24-24-24H24z"/></svg>
        <p class="features-title"><strong>Top-notch Service</strong></p>
        <p class="features-text">
          Our service team pays attention to every detail, ensuring you have an unforgettable experience.
          From the moment you walk in to the last sip of wine, feel at home in our luxurious ambiance.
        </p>
      </div>
    </div>
  </section>
  <section>
    <h2>Visit Us</h2>
    <div class="visit-us">
      <div id="map"></div>
    </div>
  </section>

<!--  <section>-->
<!--    <h2>Signature Dishes</h2>-->
<!--  </section>-->
</div>
