<header>
  <div class="header-container">
    <div class="header-container-inner">
      <h1>Welcome to Culinary Delights Galore</h1>
      <p>
        Indulge in the extraordinary world of culinary wonders at our renowned restaurant. We are dedicated to
        delivering a symphony of flavors that will tantalize your taste buds. With a rich history of excellence and a
        commitment to impeccable service, we invite you to savor every moment. Join us in creating unforgettable dining
        experiences.
      </p>
      <button class="btn" (click)="onMenuNavigate()">Explore Our Menu</button>
    </div>
  </div>
</header>
<div class="container">
  <section>
    <h2>What makes our service special</h2>
    <div class="grid-3-cols">
      <div>
        <i class="ph ph-globe-hemisphere-west features-icon"></i>
        <p class="features-title"><strong>Unforgettable Global Flavors</strong></p>
        <p class="features-text">
        Our head chef travels the world to bring the most exquisite tastes from different cultures to our restaurant.
        Each dish is a journey full of adventures that will delight your palate.
        </p>
      </div>
      <div>
        <i class="ph ph-wine features-icon"></i>
        <p class="features-title"><strong>Elegance in Wine</strong></p>
        <p class="features-text">
        Our carefully curated wine list is a tribute to wine connoisseurs.
        Discover unique pairings with dishes that enhance the flavor and aroma of every bite.
        </p>
      </div>
      <div>
        <i class="ph ph-call-bell features-icon"></i>
        <p class="features-title"><strong>Top-notch Service</strong></p>
        <p class="features-text">
        Our service team pays attention to every detail, ensuring you have an unforgettable experience.
        From the moment you walk in to the last sip of wine, feel at home in our luxurious ambiance.
        </p>
      </div>
    </div>
  </section>
  <section>
    <h2>Visit Us</h2>
    <div class="visit-us">
      <p>Find us nestled in the heart of Los Angeles, a destination celebrated for its vibrant culture and diverse dining scene.
      Our restaurant is conveniently located at 111 Demo Street, just a stone's throw away from Universal Studios Hollywood.</p>
      <div id="map"></div>
    </div>
  </section>

<!--  <ul class="contact-info">-->
<!--    <li>Mon-Thu 6-23<br>Fri-Sun 9-24</li>-->
<!--    <li>(123)111-222-333</li>-->
<!--    <li>jupiter@example.com</li>-->


<!--  </ul>-->
  <!--  <section>-->
<!--    <h2>Signature Dishes</h2>-->
<!--  </section>-->
</div>
